---
title: Host a GitLab meetup
description: "GitLab supports community leaders who want to organize meetups and tech events in their cities and hometowns."
suppress_header: true
extra_css:
  - meetups.css
extra_js:
  - features.js
---
.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .flex-container.flex-column.justify-center.align-center
    %h1 Host a GitLab meetup

.content-container
  .content.tile
    :markdown
      ## Why we support community events

      GitLab supports community leaders who want to organize meetups and tech events in their cities and hometowns. As the first single application for the entire DevOps lifecycle, all events that discuss and educate on the software development lifecycle and developer experience are eligible for GitLab support. 

      Our goal in supporting these events to increase awareness of GitLab and Concurrent DevOps and better educate the technology community about the power of our application.

  .content.tile
    :markdown
      ## Who can contribute 

      At GitLab, we believe **everyone can contribute**. We support people who are interested in organizing events or growing existing communities. If you have experience organizing tech events or meetup groups, that is great - but it is not required. We're happy to work with first-time organizers, too. 

      The only requirements are a passion for GitLab and a belief in our [mission](https://about.gitlab.com/company/strategy/#mission). 

  .content.tile
    :markdown
      ## How GitLab can help

      GitLab provides speakers, swag, and sponsorship for groups who fit the following criteria: 

      1. Group meets at least quarterly.
      2. Average attendance is 5 people or more.
      3. Talks and discussions regularly cover the software development lifecycle and developer experience. Bonus points for DevOps, Kubernetes, Cloud Native, or other GitLab-adjacent topics.

      In addition to speakers, swag, and sponsorship, GitLab can also provide planning and marketing support for your event.

  .content.tile
    :markdown
      ## Ready to get started? 

      At GitLab, we use issues to track event proposals. If you're ready to start planning an event, please open an issue on our evangelist program project. 

      Within the "event" template, you will find fields to include some basic information about your event and a checklist of tasks to help you get started. Once you submit an issue, our team will be in touch.

    .flex-container.flex-column.justify-center.align-center
      %a.btn.cta-btn.accent{ href: "https://gitlab.com/gitlab-com/marketing/community-relations/evangelist-program/general/issues/new" } Start planning your event




